doctype html
html(ng-app="RegistrationApp")
    head
        title Public
        base(href="http://localhost:1337/")
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

        // STYLES
        link(rel="stylesheet", href="/styles/dependencies/foundation/foundation.css")
        link(rel="stylesheet", href="/styles/dependencies/foundation/normalize.css")
        link(rel="stylesheet", href="/styles/common/directives/modalDirective/modal.css")
        link(rel="stylesheet", href="/styles/public/app.css")
        // STYLES END
    body
        // TEMPLATES
        script(type="text/javascript", src="/templates/jst_public.js")
        // TEMPLATES END
        .row
            .column.small-12.text-center
                a(href="/")
                    h1 Medicine Inventory App
        .row
            .column.small-12
                section
                    header
                    ng-view
        // SCRIPTS
        script(src="/js/dependencies/angular/angular.js")
        script(src="/js/dependencies/angular/angular-animate.js")
        script(src="/js/dependencies/angular/angular-resource.js")
        script(src="/js/dependencies/angular/angular-route.js")
        script(src="/js/dependencies/lodash/lodash.js")
        script(src="/js/public/app.js")
        script(src="/js/public/medicine/MedCtrl.js")
        script(src="/js/common/directives/modalDirective/directive.js")
        // SCRIPTS END